@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(https://images.unsplash.com/photo-1633356122102-3fe601e05bd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1px);
}